.app-wrapper {
  max-width: 1440px;
  margin: auto
}

.section {
  margin: 90px 50px
}

.content-gap {
  margin-bottom: 180px;
}

address {
  font-style: normal;
}

.address {
  justify-self: end;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.main {
  flex: 1;
}

.overlay {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.address a,
nav a,
.lots__look-more-link {
  border-bottom: 1px solid #000000;
}

a {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}