.footer {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer__menu-list li {
  text-align: center;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
}

.footer__social-list li {
  width: 48px;
}

.footer__social-list li:not(:first-of-type) {
  margin-left: 48px;
}