.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 33px;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__link_active {
  border-bottom: none;
}

.header__links-list-item:first-child {
  list-style: none;
  margin-left: 0;
}

.header__logo img {
  width: 148px;
  height: 108px;
  border-bottom: none;
}